* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
     position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
background-image: url('/images/img-1.jpg');
  background-size: cover;
  
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign_in{
   
   position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
background-image: url('/images/bg2.jpg');  
background-size: cover;
  padding-top:150px ;
  
  

}

.register{
   
   position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  
   
background-image: url('/images/bg3.jpg');
  background-size: cover;
  padding-top:16% ;

}